@mixin disp($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

@keyframes showOptionsOn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes showOptionsOff{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100vw;
  height: 8vh;
  background-color: #4C566A;

  .showOptions {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 32px;
    color: white;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .displayOn {
    animation: showOptionsOn 0.6s forwards alternate;
  }

  .displayOff {
    animation: showOptionsOff 0.6s forwards alternate;
  }

  .moreOptions {
    @include disp(space-between, column, nowrap);
    background-color: #2E3440;
    color: white;
    text-align: center;
    height: 100vh;
    padding: 5% 0% 15% 0%;
    position: fixed;
    float: inline-end;
    top: 0vh;
    width: 35%;
    right: 0;

    a {
      &:hover {
        color: rgb(11, 188, 49);
      }
    }

    .closeOptions {
      cursor: pointer;
      margin-left: 55%;
      color: white;
      font-size: 40px;
      width: 80%;

      &:hover {
        color: red;
      }
    }
  }

  h1 {
    font-size: 18px;
  }

  img {
    cursor: pointer;
    height: 80%;
  }

  a {
    @include disp(space-evenly, row, nowrap);
    font-size: 16px;
    span {
      font-size: 26px;
    }
  }
}